In [9]:
import streamlit as st
import pandas as pd
import psycopg2
import yfinance as yf
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import warnings

# Î™®Îì† Í≤ΩÍ≥† Î¨¥Ïãú
warnings.filterwarnings("ignore")
load_dotenv()

True

In [7]:
host = os.environ["SUPABASE_HOST"]
port = os.environ.get("SUPABASE_PORT", 5432)
db   = os.environ["SUPABASE_DB"]
user = os.environ["SUPABASE_USER"]
pw   = os.environ["SUPABASE_PASSWORD"]

url = f"postgresql+psycopg2://{user}:{pw}@{host}:{port}/{db}?sslmode=require"
engine = create_engine(url, connect_args={"sslmode":"require"}, pool_pre_ping=True)

# Ïó∞Í≤∞ ÌÖåÏä§Ìä∏
with engine.begin() as conn:
    df_test = pd.read_sql("SELECT * FROM stock_data", engine)

In [ ]:
tickers = list(df_test.ticker.unique())

['BTC-USD',
 'GC=F',
 'KRWUSD=X',
 'NQ=F',
 'SI=F',
 'TLT',
 '^GSPC',
 '^KS11',
 '^TNX',
 '^TYX',
 '^VIX']

In [14]:
df_test.head()

,date,ticker,open,high,low,close,volume
0,2015-08-13,BTC-USD,266.183014,266.231995,262.841003,264.079987,27685500.0
1,2015-08-13,GC=F,1124.300049,1124.300049,1113.000000,1115.699951,441.0
2,2015-08-13,KRWUSD=X,0.000850,0.000855,0.000846,0.000853,0.0
3,2015-08-13,NQ=F,4529.750000,4557.000000,4508.750000,4517.250000,234832.0
4,2015-08-13,SI=F,15.396000,15.396000,15.396000,15.396000,0.0

In [10]:
st.set_page_config(
    initial_sidebar_state="collapsed",
    layout = "wide",
    page_icon = "üçï",
    page_title = "tacona1016Ïùò Í∞úÏù∏ ÎåÄÏãúÎ≥¥Îìú"
)

with st.sidebar:
    st.write("Side bar test")
    st.write("tacona1016Ïùò Í∞úÏù∏ Ï∞®Ìä∏")

2025-08-13 21:55:04.728
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\tacon\streamlit\venv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]