In [1]:
import streamlit as st
import pandas as pd
import psycopg2
import yfinance as yf
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import warnings

# ëª¨ë“  ê²½ê³  ë¬´ì‹œ
warnings.filterwarnings("ignore")
load_dotenv()

True

In [5]:
host = os.environ["SUPABASE_HOST"]
port = os.environ.get("SUPABASE_PORT", 5432)
db   = os.environ["SUPABASE_DB"]
user = os.environ["SUPABASE_USER"]
pw   = os.environ["SUPABASE_PASSWORD"]

url = f"postgresql+psycopg2://{user}:{pw}@{host}:{port}/{db}?sslmode=require"
engine = create_engine(url, connect_args={"sslmode":"require"}, pool_pre_ping=True)

# ì—°ê²° í…ŒìŠ¤íŠ¸
with engine.begin() as conn:
    df_test = pd.read_sql("SELECT * FROM stock_addp", engine)

In [6]:
tickers = list(df_test.alias.unique())

In [7]:
df_test.head()

        date    alias       value
0 2015-08-18  Bitcoin  211.078995
1 2015-08-19  Bitcoin  226.684006
2 2015-08-20  Bitcoin  235.350006
3 2015-08-21  Bitcoin  232.569000
4 2015-08-24  Bitcoin  210.494995

In [ ]:
st.set_page_config(
    initial_sidebar_state="collapsed",
    layout = "wide",
    page_icon = "ðŸ•",
    page_title = "tacona1016ì˜ ê°œì¸ ëŒ€ì‹œë³´ë“œ"
)

with st.sidebar:
    st.write("Side bar test")
    st.write("tacona1016ì˜ ê°œì¸ ì°¨íŠ¸")

2025-08-13 21:55:04.728
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\tacon\streamlit\venv\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [13]:
start = pd.to_datetime('2022-01-01')
end = pd.to_datetime('2025-08-01')
ticker = 'Bitcoin'

df = df_test[(df_test.alias==ticker)&(df_test.date>=start)&(df_test.date<=end)]

In [15]:
df.head()

           date    alias         value
1606 2022-01-03  Bitcoin  46458.117188
1607 2022-01-04  Bitcoin  45897.574219
1608 2022-01-05  Bitcoin  43569.003906
1609 2022-01-06  Bitcoin  43160.929688
1610 2022-01-07  Bitcoin  41557.902344